.dashboard-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background:transparent;
}
.hero{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;background:transparent;
}
.hero-form{
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logout{
    position: absolute;
    padding: 10px 10px;
    width:auto;
    right:0;
    top:0;
    
}
.btn-upload{
    padding: 10px 10px;
    margin-top: 10px;
    width:auto;

}