.backdrop{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;width: 100%;height:100%;
    background:rgba(0, 0,0,0.5);
    z-index: 2000000;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10vh;
    padding-bottom: 10vh;

}

.backdrop img{
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;

}
