.backdrop{
    position: fixed;
    top: 0;
    left: 0;width: 100%;height:100%;
    background:rgba(0, 0,0,0.5)
}

.backdrop img{
    width:50%;
    display: block;
    margin:60px auto;


}

@media (max-width: 1060px){
    .backdrop img{
        width:75%;
        display: block;
        margin:60px auto;
    
    
    }
}