.team-container{
    top:10vh;

    position:absolute;
    display: flex;
    align-items: center;

}

.team{
    margin:60px 60px;
    padding:15px 15px !important;
    display: flex;
    background-color:#1F1F1F;
    border:3px solid white;

   filter:drop-shadow(10px 10px 20px black);

}

.team img{
    cursor: pointer;
    width: 25%;
    height: auto !important; 
    margin-bottom:15px;
}
@media (max-width:1060px){
    .team img{

    width: 33%;
    }
}

@media (max-width:800px){
    .team img{

    width: 50%;
    }
}

@media (max-width:600px){
    .team img{

    width: 100%;
    }
}