.team-container{
    top:10vh;
    height:90vh;
    width:100%;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}


.team{
    top:10vh;
    
    position: absolute;
    padding:15px 15px !important;
    display: flex;
    background-color:#1F1F1F;
    border:3px solid white;
    max-width: 95vw;
    margin-bottom:10px;
   filter:drop-shadow(10px 10px 20px black);

}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: auto;
}

.team img{
    cursor: pointer;
    width: 20vw;
    height: auto !important; 
    margin-bottom:15px;
    margin-right:7.5px;
    margin-left:7.5px
}
@media (max-width:1060px){
    .cards{
        gap:2vw;
        justify-content: center;
    }

}

@media (max-width:800px){
    .team img{

    width: 25%;
    }
}

@media (max-width:600px){
    .team img{

        width: 150px;
        }
}

