.team-container{
    top:10vh;
    height:auto;
    min-height:90vh;width:100vw;

    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cards {
    display: flex;
    flex-wrap: wrap;

}

.team{
    top:0;
    position: absolute;
    padding:15px 15px !important;
    display: flex;
    background-color:#1F1F1F;
    border:3px solid white;
    min-width: 90vw;
    max-width: 95vw;
    margin-bottom:10px;
   filter:drop-shadow(10px 10px 20px black);

}

.team img{
    cursor: pointer;
    width: 20%;
    height: auto !important; 
    margin-bottom:15px;
    margin-right:7.5px;
    margin-left:7.5px
}
@media (max-width:1060px){
    .team img{

    width: 33%;
    }
}

@media (max-width:800px){
    .team img{

    width: 25%;
    }
}

@media (max-width:600px){
    .team img{

    width: 50%;
    }
}

@media (max-width:350px){
    .team img{

    width: 300px;
    }
}