:root{
  --bg:#222;
}
.contact-container {
  background: transparent;
  height: 90vh;
  width: 100%;
  top: 10vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

.contact-medias {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.contact-medias ul {
  position: relative;
  display: flex;
  gap:50px;
}
.contact-medias ul li{
  position: relative;
  display: flex;
  list-style: none;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:0.5s;
}

.contact-medias  li a{
  position: relative;
  text-decoration: none;
  z-index: 10;font-size:2em;
  transition:0.5s;
  
}
li .facebook:hover{
  color: #1877f2;
  
}
li .youtube:hover{
  color: #ff0000;
  
}
li .instagram:hover{
  color: #c32aa3;
  
}
.contact-medias li:hover{
  z-index: 10000;
  transform:scale(0.75);
}
.contact-medias  li::before{
  content: "";
  position: absolute;
  inset:30px;
  transition:0.5s;
}
.fali::before {
  
  box-shadow: 0 0 0 10px #1877f2, 0 0 0 20px var(--bg), 0 0 0 22px #1877f2;
  
}
.yoli::before{

  box-shadow: 0 0 0 10px #ff0000, 0 0 0 20px var(--bg), 0 0 0 22px #ff0000;

}
.inli::before{

  box-shadow: 0 0 0 10px #c32aa3, 0 0 0 20px var(--bg), 0 0 0 22px #c32aa3;

}
.contact-medias li:hover::before {
inset:0;
}
.contact-medias  li::after {
  content: "";
  position: absolute;
  inset:0;
  background:var(--bg);
  transform:rotate(45deg);
}
.contact-medias li:hover a{
  font-size: 3em;
}
.contact-medias .fali:hover a{
  filter:drop-shadow(0px 0px 20px #1877f2) drop-shadow(0px 0px 40px #1877f2) drop-shadow(0px 0px 60px #1877f2);
}
.contact-medias .yoli:hover a{
  filter:drop-shadow(0px 0px 20px #ff0000) drop-shadow(0px 0px 40px #ff0000) drop-shadow(0px 0px 60px #ff0000);
}

.contact-medias .inli:hover a{
  filter:drop-shadow(0px 0px 20px #c32aa3)drop-shadow(0px 0px 40px #c32aa3) drop-shadow(0px 0px 60px #c32aa3);
} 


.facebook{
  color:#1877f2;
}


.youtube{
  color:#ff0000;
}

.instagram{
  color:#c32aa3;
}


@media (max-width:1060px){

}