.contact-container {
  background: transparent;
  padding: 25px 50px;
  height: 90vh;
  width: 100%;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10vh;

  font-family: "Butcherman", cursive;
}

.contact-contact{
    font-size: 5vw;
    color: yellow;
    margin-right: 2vw;
}


.contact-us{  font-size: 5vw;
    color:black;
}

.contact-medias {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-wrapper span {
  margin-top: 1vh;
  color: white;
  font-family: "Butcherman", cursive;
}
