.navbar {
  background-color: transparent;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}


.nav-logo {
  color: yellow;
  align-items: center;
  margin-left: 20px;
  font-family: 'Butcherman', cursive;
  text-decoration: none;
  flex-grow: 1;
  pointer-events: none;
}
.nav-logo-container{
  display: flex;
  width: 100%;
  justify-content:start;
  align-items:center;
}
.nav-logo-container p{
  line-height: 10vh;
  font-size: calc(25px + .5vw);
  letter-spacing:0.5vw;
  text-decoration: none;
}

.nav-logo-first {
  margin:0;
  margin-right: 1.5rem;
  margin-left:10vw;

}
.nav-logo-second {
  margin: 0;
  color:white;
}
.nav-menu {
  width:40%;
  height:100%;
  margin:0;
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-family: 'Butcherman', cursive;
  font-size: 1.5rem;
  border-bottom: 3px solid transparent;
}

.nav-item {
  height: 100%;
  display:flex;
  align-items: center;

  
}
.nav-links:hover{
  color:grey;
}

.nav-item:hover:after {
  width: 100%;
  background: yellow;
}

.nav-item .active{
  color: yellow;
  border-bottom: 3px solid yellow;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 1060px) {
  .navbar{
    margin:0;
    padding:0 !important;
  }
  .nav-logo-first{
    margin-left:0;
  }
  .nav-container{

    align-items: center;
    height:100vh;
  }
  .nav-logo{
    position: absolute;
    width: 100%;
   
    top:2vh;
    margin-left:2vw;
    line-height: 10vh;;
    font-size: calc(25px + .5vw);
    height:10vh;
  }

  .nav-logo-container{
    justify-content: center;
  }
  .nav-menu {
    display: flex;
 
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    height:100vh;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }

  .nav-menu.active {
    position: fixed;
    justify-content:center;
    height:100%;
    background-color: black;
    padding: 0px;
    border: 3px solid yellow;
    left: 0px;
    opacity: 1;
    transition:all 0.5s ease;
    z-index: 20;
    
  }
.nav-item{
  height:20vh;
}
  .nav-item:active {
      border:none;
      color:yellow;
  }
.nav-links{
    padding:1.5rem;
    display:table;
    width:100%;
}
  .nav-icon{
      display: block;
      position:absolute;
      top: 2vh;
      right:2vw;
    font-size:25px;
    cursor: pointer;
    color:yellow;
    z-index:21;
  }
}
