*{
    margin:0;
    padding:0;
  }
  html{
    height:100%;
  }
  body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, black, yellow);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  
  }

  